/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 50px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 42px;
    width: 42px;
    left: 4px;
    bottom: 4px;
    background-color: #F9B025;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #FFFFFF;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #FFFFFF;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  body {
    margin-top: 5%;
    color: #FFFFFF;
    background-color: #171717;
  }

  .switch {
    display: flex;
    flex-direction: row;
  }

  .cardapio {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .filtros {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 40px;
  }
  
  button {
    max-width: 25%;
  }

  .posicao-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
  }

  .card {
    max-width: 40%;
    border: 5px solid #F9B025;
    border-radius: 18px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
  }

  .card img {
    max-width: 80%;
  }